h3 {
    .ityped-cursor {
        animation: blink 1s infinite;
    }

    @keyframes blink {
        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #ffa500;
    border-radius: 50%;
}

.authorName {
    display: "flex";
    flex-direction: "row";
    justify-content: 'flex-start';
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    height: 40;
    font-size: 120%;
    margin-top: 1%;
    margin-left: -0.5%;
    transform: scale(1.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.professionName {
    font-size: 150%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}