*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.root-container {
    background-color: #ccf0fc;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}